{% extends 'base.html' %}

{% load static %}

{% block content %}
<img src="{% static 'img/python_logo.svg' %}" width="500px">

<h2>Orders:</h2>
{% if object_list %}
<table border="1">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Phone</td>
        <td>Date</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.order_name }}</td>
        <td>{{ object.order_phone }}</td>
        <td>{{ object.order_dt }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>None</h1>
{% endif %}
<br>

<form action="{% url 'thanks_page' %}" method="post">
    {% csrf_token %}
    <!--<label>Name: <input name="name"></label>-->
    <!--<label>Phone: <input name="phone"></label>-->
    {{ form.as_p }}
    <button type="submit">SEND</button>
</form>

{% endblock %}